<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/criarconta.css">
    <script src="static/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

    <div id="cima"></div>
    <a id="cc"> Cadastre-se</a>

<form method="POST" action="/criarconta">
    <p id="caixa1"><input id="usuario" type="text" name="usuario" placeholder="Digite seu Usuário"></p>
    <br><br><br>
    <p id="caixa2" style="text-align: center;"><input id="senha" type="password" name="senha" placeholder="Digite sua senha"></p>
    <div style="display: flex;justify-content: center ;">
        <button id="botao" type="submit" class="btn btn-outline-primary">Criar</button>
    </div>
</form>

    <img src="static/ft/branquinho.png"
    style="width: 250px; position: absolute;right: 2%;top: -2%;">

</body>
</html>