<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="static/login.css">
    <script src="static/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div id="cima"></div>
    <div id="barra"></div>
    <div id="quadrado"></div>


    <p id="foto1">
    <img style="border-radius: 10%;" src="static/33.png"
    height="380" width="380">
    </p>


<a id="cabecinha">Controle total do almoxarifado em um só lugar.</a>

<br><br><br><br><br><br><br><br><br>

    <p id="foto">
    <img src="static/Adobe Express - file.png"
    height="120" width="120">
    </p>

    <p id="futu">
    <img src="static/fi.png"
    height="180" width="180">
    </p>

    <p id="futu2">
    <img src="static/fi1.png"
    height="180" width="180">
    </p>

    <p id="futu3">
    <img src="static/fi2.png"
    height="180" width="180">
    </p>

    <p id="futu4">
    <img src="static/fi3.png"
    height="170" width="170">
    </p>

<h1>
    <p id="login">Login</p>
</h1>

    <p id="caixa1"><input type="text" id="usuario" placeholder="Digite seu Usuário"></p>

<br><br><br>

    <p id="caixa2" style="text-align: center;"><input type="password" id="senha" placeholder="Digite sua senha"></p>

    <br><br><br>

<div style="display: flex;justify-content: center ;">
   <button id="botao" onclick="verificarLogin()"button class="btn btn-outline-primary">Entrar</button>
</div>

<a id="cadastre" href="criarconta.html">Cadastre-se (ADM)</a>

<img src="static/branquinho.png"
    style="width: 250px; position: absolute;right: 2%;top: -2%;">

</body>
</html>
