<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="static/login.css">
    <script src="static/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
        <img src="static/Sistema-Fiep-Azul.png" height="100" width="190">
    <br><br>

    <p style="text-align: center;">
    <img src="static/Adobe Express - file.png"
    height="140" width="140">
    </p>
<h1>
    <p style="text-align: center;">Login</p>
</h1>
<br>

    <p style="text-align: center;"><input type="text" id="usuario" placeholder="Digite seu Usuário"></p>

<br><br><br>

    <p style="text-align: center;"><input type="password" id="senha" placeholder="Digite sua senha"></p>

    <br><br><br>

<div style="display: flex;justify-content: center ;">
   <button id="botao" onclick="verificarLogin()"button class="btn btn-outline-primary">Entrar</button>
</div>

<img src="static/Sistema-Fiep-Azul.png"
    style="width: 250px; position: absolute;right: 1%;top: 87%;">

</body>
</html>
